<ul class="nav navbar-nav navbar-right">
    @if (Session["TipoUsuario"].ToString() != "")
    {
        <li>@Html.ActionLink("Crear Usuario", "CrearUsuario", "Usuario")</li>
        <li>@Html.Label(Session["NombreUsuario"].ToString())</li>
    }
    else
    {
        <li>@Html.ActionLink("Iniciar Sesion", "Index", "Login")</li>
    }
</ul>
}
