<ul class="nav navbar-nav navbar-right">
    @if (Session["TipoUsuario"].ToString() != "")
    {
        <li>@Html.ActionLink("Crear Usuario", "CrearUsuario", "Usuario")</li>
        @*<li>@Html.Label(Session["NombreUsuario"].ToString())</li>*@
        <li>@Html.ActionLink("Cerrar Sesion", "Index", "Home")</li>
    }
    else
    {
        <li>@Html.ActionLink("Iniciar Sesion", "Index", "Home")</li>
    }
</ul>

